:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, sans-Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 0;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
}

.navigation a:hover {
    color: var(--secondary-color);;
    text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns:  1fr 200px 1fr;
}

.history .heading {
    grid-column: span 3;
    text-align: center;
}

.history p {
    margin: 0;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
}

.advanture {
    display: grid;
    grid-template-columns:  repeat(5 1fr);
}

.advanture .heading{
    grid-column: span 5;
    text-align: center;
}

figure {
    max-width: 150px;
    padding: 10px;
    text-align: center;
}

figure img {
    height: auto;
    width: 150px;
}

.footer-display {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
}

.footer-display p {
    text-align: center;
    margin-left: 200px;
}

.socialmedia {
    display: flex;
}

.socialmedia a {
    text-decoration: none;
    flex: 1 1 auto;
}

.socialmedia a img {
    width: 50px;
    height: auto;
    padding: 5px;
}
