:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, sans-Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 0;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
}

.navigation a:hover {
    color: var(--secondary-color);;
    text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns:  1fr 200px 1fr;
}

.history .heading {
    grid-column: span 3;
    text-align: center;
}

.history p, .trip-description p {
    margin: 0;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
}

.advanture {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
}

.advanture .heading{
    grid-column: span 5;
    text-align: center;
}

figure {
    max-width: 150px;
    padding: 10px;
    text-align: center;
}

figure img {
    height: auto;
    width: 150px;
}

.footer-display {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
}

.footer-display p {
    text-align: center;
    margin-left: 200px;
}

.socialmedia {
    display: flex;
}

.socialmedia a {
    text-decoration: none;
    flex: 1 1 auto;
}

.socialmedia a img {
    width: 50px;
    height: auto;
    padding: 5px;
}

/* About page */

.contact-info{
    align-content: center;
    text-align: center;
}

.contact-info h1{
    margin: 0;
}

.contact-info p{
    margin: 2px;
    padding: 3px;
    color: #333;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col-6 {
    flex: 0 0 auto
}

.col-6 {
    width: 50%
}

iframe{
    border:0;
    width: 370px;
    height: 370px;
}

button, input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.input-group {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    
}

.input-group .sm{
    grid-template-columns: 0.1fr 1fr;
    margin-bottom: 10px;
}

.input-group-column{
    display: flex;
    flex-direction: column;
}

.form-control{
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.members {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
}

.members .heading{
    grid-column: span 3;
    text-align: center;
    margin-bottom: -15px;
}

.members figure{
    max-width: 250px;
    padding: 50px;
}

.btn{
    padding: 10px;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: larger;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #333;
    border-radius: 2px;
    background-color: silver;
    width: 100%;
    margin: 5px 0px;
}

.trip-list-normal {
    display: grid;
    grid-template-columns:  1fr 300px;
    margin-bottom: 5px;
}

.trip-list-reverse {
    display: grid;
    grid-template-columns:  300px 1fr;
    margin-bottom: 5px;
}

.trip-description{
    padding-right: 20px;
    padding-left: 0px;
}

.trip-list-normal img {
    width: 220px;
    height: auto;
    border-radius: 5%;
}

.trip-list-reverse img {
    width: 220px;
    height: auto;
    border-radius: 5%;
}

.call-action {
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn-cta {
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-width: 1px;
    padding: 22px 40px !important;
    border-radius: 500px;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    transition: all .5s;
    text-decoration: none;
}

